* {
    margin: 0;
    padding: 0;
}

.body {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100vh;
    transition: 1s;
}

.body.light {
    background-color: #fff;
}

.card__image {
    border-radius: 50%;
}

.user {
    text-align: center;
    color: white;
    margin-top: 50px;
}

.user__name {
    font-size: 40px;
}

.body.light .user__name {
    color: black;
}

.user__img {
    border-radius: 50%;
    margin-top: 10px;
}

body {
    background-color: #100e17;
    font-family: 'Open Sans', sans-serif;
  }

.container {
    margin-top: 100px;
    justify-content: center;
    height: 300px;
    top: 60px;
    left: calc(50% - 400px);
    display: flex;
}

.general-wrapper__button {
    margin: 30px auto 0;
}

.button {
    align-items: center;
    justify-content: center;
    display: flex;
    color: white;
    height: 80px;
    text-decoration: none;
    width: 227px;
    background-color: #17141d;
    border-radius: 10px;
    box-shadow: -1rem 0 3rem #000;
    transition: 0.4s ease-out;
}

.button:hover {
    transform: translateY(-10px);
    transition: 0.4s ease-out;
    }

.button-wrapper {
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
}

.card.light {
    background-color: #fff;
}

.card.light .title {
    color: #000;
}

.card {
    display: flex;
    height: 280px;
    width: 200px;
    background-color: #17141d;
    border-radius: 10px;
    box-shadow: -1rem 0 3rem #000;
    transition: 0.4s ease-out;
    position: relative;
    left: 0px;
}

.card:not(:first-child) {
    margin-left: -50px;
}

.card:hover {
    transform: translateY(-20px);
    transition: 0.4s ease-out;
}

.card:hover ~ .card {
    position: relative;
    left: 50px;
    transition: 0.4s ease-out;
}

.card__body {

    height: 280px;
    width: 200px;
    position: relative;
}

.title {
    color: white;
    font-weight: 300;
    position: absolute;
    left: 20px;
    top: 15px;
}

.bar {
    position: absolute;
    top: 100px;
    left: 20px;
    height: 5px;
    width: 150px;
}

.emptybar {
    background-color: #2e3033;
    width: 100%;
    height: 100%;
}

.filledbar {
    position: absolute;
    top: 0px;
    z-index: 3;
    width: 0px;
    height: 100%;
    background: rgb(0,154,217);
    background: linear-gradient(90deg, rgba(0,154,217,1) 0%, rgba(217,147,0,1) 65%, rgba(255,186,0,1) 100%);
    transition: 0.6s ease-out;
}

.card:hover .filledbar {
    width: 120px;
    transition: 0.4s ease-out;
}

.circle {
    position: absolute;
    top: 150px;
    left: calc(50% - 60px);
}




input[type="checkbox"] {
    cursor: pointer;
    position: absolute;
    top: 50px;
    right: 50px;
    width: 50px;
    height: 25px;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: #c6c6c6;
    outline: none;
    border-radius: 50px;
    box-shadow: inset 0 0 5px rgba(0,0,0, .2);
    transition: 0.5s;
}
input:checked[type="checkbox"] {
    background: #02a9f4;
}
input[type="checkbox"]::before {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    top: 0;
    left: 0;
    background: #fff;
    transform: scale(1.1);
    box-shadow: 0 2px 5px rgba(0,0,0, .2);
    transition: 0.2s;
}
input:checked[type="checkbox"]::before {
    left: 25px;
}